<!-- Local includes -->
<% stylesheet('styles/local/login-form-elements.css') %>
<% stylesheet('styles/local/login-style.css') %>
<% script('js/local/login-scripts.js') %>

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 mx-auto text">
                    <h1>Post <strong>IT</strong> Login</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 mx-auto form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Login to Post IT</h3>
                            <p>Enter your username and password to log on:</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-lock"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" action="/login" method="post" class="login-form">
                            <div class="form-group">
                                <label class="sr-only" for="name">Username</label>
                                <input value="<%= (typeof error !== 'undefined') ? name : ''  %>" type="text" name="name" placeholder="Username..." class="form-username form-control" id="form-username">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="password">Password</label>
                                <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password">
                            </div>
                            <button type="submit" class="btn">Login</button>
                            <p style="color:red; text-align:center;"><%= (typeof error !== 'undefined') ? error : '' %></p>
                            <p style="text-align:center;">No Account? <a href="/register"> Register </a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
