<%- partial('tpl/nav') %>

<div class="container">
    <div class="jumbotron">
        <h1>Post It package manager</h1>
        <p class="lead">Lorem ipsum dolor sit amet</p>
        <a class="btn btn-lg btn-primary" href="/packages" role="button">Packages</a>
    </div>
</div>