<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--FAVICON <link rel="icon" href="favicon.ico">-->

    <title>Post IT</title>

    <!-- Bootstrap core CSS -->
    <link href="./assets/bootstrap/v4/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="./assets/css/main-style.css" rel="stylesheet">
</head>

<body>
    <!-- Nav start -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Post IT</a>
        </div>
        <div class="collapse nav navbar-collapse navbar-right">
            <ul class="navbar-nav ml-auto mr-5">
                <li class="nav-item mx-2 active">
                    <a class="nav-link" href="#packages"><i class="fa fa-envelope"></i> Packages</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="#profil"><i class="fa fa-user"></i> Profil</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li>
                    <a class="nav-link" href="#logout"><i class="fa fa-sign-out"></i> Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Nav end -->


    <div class="container">
        <div class="jumbotron">
            <h1>Post It package manager</h1>
            <p class="lead">Lorem ipsum dolor sit amet</p>
            <a class="btn btn-lg btn-primary" href="#packages" role="button">Packages</a>
        </div>
    </div>


    <!-- JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./assets/js/jquery.min.js"></script>
    <!--POPPER <script src="http://getbootstrap.com/assets/js/vendor/popper.min.js"></script>-->
    <script src="./assets/bootstrap/v4/js/bootstrap.min.js"></script>
</body>

</html>
