<link href="./assets/bootstrap/v4/css/bootstrap.min.css" rel="stylesheet">
<link href="./assets/css/main-style.css" rel="stylesheet">

<!-- Nav start -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Post IT</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main.nav" aria-expanded="false"
            aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse navbar-right" id="main-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#packages"><i class="fa fa-envelope"></i> Packages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#profil"><i class="fa fa-user"></i> Profil</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li>
                    <a class="nav-link" href="#logout"><i class="fa fa-sign-out"></i> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Nav end -->


<div class="container">
    <div class="jumbotron">
        <h1>Post It package manager</h1>
        <p class="lead">Lorem ipsum dolor sit amet</p>
        <a class="btn btn-lg btn-primary" href="#packages" role="button">Packages</a>
    </div>
</div>


<!-- JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./assets/js/jquery.min.js"></script>
<!--POPPER <script src="http://getbootstrap.com/assets/js/vendor/popper.min.js"></script>-->
<script src="./assets/bootstrap/v4/js/bootstrap.min.js"></script>