<%- partial('tpl/nav') %>

    <div class="container px-0">
        <!-- Packages panel -->
        <div>
            <form class="form-inline my-0 d-inline" action="/package" method="GET">
                <button type="submit" class="btn btn-primary my-2 my-sm-0">
                    <strong><i class="fa fa-plus"></i> New Package</strong>
                </button>
            </form>
            <div class="d-inline float-sm-right">
                <form class="form-inline my-0 d-inline" action="" method="GET">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                </form>
                <button id="detailed" type="button" class="btn btn-primary collapsed" data-toggle="collapse" data-target="#detailed-search">
                    Detailed
                </button>
            </div>
        </div>
        <!-- Packages detailed serach -->
        <div id="detailed-search" class="collapse">
            <hr>
            <form class="form-inline" action="" method="GET">
                <div class="input-group my-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon">Id</div>
                    <input type="text" class="form-control" placeholder="Id">
                </div>
                <div class="input-group my-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon">Division</div>
                    <input type="text" class="form-control" placeholder="Division">
                </div>
                <div class="input-group my-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon">Subject</div>
                    <input type="text" class="form-control" placeholder="Subject">
                </div>
                <div class="input-group my-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon">Type</div>
                    <input type="text" class="form-control" placeholder="Type">
                </div>
                <div class="input-group my-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon">From</div>
                    <input type="text" class="form-control" placeholder="Date">
                </div>
                <div class="input-group my-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon">To</div>
                    <input type="text" class="form-control" placeholder="Date">
                </div>
                <button type="submit" class="btn btn-primary my-0 mt-sm-2">Search</button>
            </form>
        </div>
        <hr>
        <!-- Packages list -->
        <!-- kerdeses h ez hogy legyen... lehet XHR angular betoltes is  akk kereses is -->
        <div id="package-list">
            <% for(var i = 0; i < 10; i++){ %>
                <%- partial('tpl/package-item', {index:i}) %>
                    <% } %>
        </div>

    </div>