<%- partial('tpl/nav') %>

    <div class="container px-0">
        <!-- Packages panel -->
        <div>
            <form class="form-inline my-0 d-inline" action="/pkg" method="GET" >
                <button type="submit" class="btn btn-primary">
                    <strong><i class="fa fa-plus"></i> New Package</strong>
                </button>
            </form>
            <div class="d-inline float-sm-right">
                <form class="form-inline my-0 d-inline" action="" method="GET">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                </form>
                <button id="detailed" type="button" class="btn btn-primary collapsed" data-toggle="collapse" data-target="#detailed-search">
                    Detailed
                </button>
            </div>
        </div>
        <!-- Packages detailed serach -->
        <div id="detailed-search" class="collapse">
            <hr>
            <form class="form-inline" action="" method="GET">
                <label class="sr-only" for="inlineFormInputGroup">Id</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon">id</div>
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="id">
                </div>
                <label class="sr-only" for="inlineFormInput">Package Name</label>
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Package Name">
                <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                    <input id="valami-chb" class="" type="checkbox">
                    <label for="valami-chb" class=""> Valami check</label>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
        <hr>
        <!-- Packages list -->
        <!-- kerdeses h ez hogy legyen... lehet XHR angular betoltes is  akk kereses is -->
        <div id="package-list">
            <% for(var i = 0; i < 10; i++){ %>
                <%- partial('tpl/package-item', {index:i}) %>
            <% } %>
        </div>

    </div>